* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #00eeff;
}

.content {
    color: purple;
    text-align: center;
}

button {
    background-color: #fffb00;
    padding: 10px 20px;
    margin: 10px;
    font-size: 18px;
    cursor: pointer;
}

#image-container img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

#image-container-no img  {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

#spam-message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    color: red;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.hidden {
    display: none;
}

